<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User List</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<adiv class="container mx-auto px-4 py-2">

  <h1 class="text-xl font-bold mb-4">User List</h1>
 <a th:href="@{/showform}" <button type="button" class="px-6 py-3.5 text-base font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add User</button></a>
  <table>
    <thead>
      <tr class="bg-gray-100 text-left text-sm font-medium">
        <th class="px-4 py-2">Users</th>
        
      </tr>
    </thead>
    <tbody>
      <tr th:each="user : ${users}">
		  <a th:href="@{/getuser/{id}(id=${user.id})}">
         <td  th:text="${user.fname}" class="px-4 py-2"></td>
		  </a>

      </tr>
    </tbody>
  </table>

</div>

</body>
</html>