<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User List</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<adiv class="container mx-auto px-4 py-2">
	
	<div style="text-align: center;">
  <h1 class="text-xl font-bold mb-4">User List</h1>
</div>

  
  <div style="float: right;">
 <a th:href="@{/showform}"<button type="button" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Add User</button></a>
</div>
 
<h1 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white text-3xl font-bold mx-auto"> Users</h1>
    
      <ol class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
		  <div style="margin-top: 40px;" th:each="user : ${users}">
			  <a th:href="@{/getuser/{id}(id=${user.id})}">
			  <span th:text= ${user.fname}></span>
			  </a>
			  <input type="checkbox" id="checkbox-user-{{user.id}}" name="my-checkbox" data-user-id="${user.id}" th:value="${user.id}"  th:checked="${user.enabled}">
			  
  <label for="checkbox-2">Enable/Disable</label>
  
                  
	         
		  </div>


		  </li>
		  
         
      </ol>        
</div>
<script>
	
	const checkboxes = document.querySelectorAll('input[type="checkbox"]');
checkboxes.forEach(checkbox => {
  checkbox.addEventListener('change', function() {
    const id = this.value;
      const isChecked = this.checked;
      
    callApi(id,isChecked);
  });
});

function callApi(userId,isChecked) {
	const updateUrl = '/updatestatus/'+userId; 
	console.log(isChecked);
	console.log(updateUrl);
	  fetch(updateUrl, {
    method: 'POST', // Use POST for updates
    headers: { 'Content-Type': 'application/json' }, 
    body: JSON.stringify(isChecked) 
  })
  .then(response => response.status) 
  .then(data => {
    
  })
  .catch(error => {
    console.error('Error updating database:', error);
  });
}
	
	
</script>


</body>
</html>


