<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Information</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<div class="container mx-auto px-4 py-2">

  <h1 class="text-xl font-bold mb-4">User Information</h1>



  <table class="table-auto mt-4 w-full border border-collapse">
    <thead>
      <tr class="bg-gray-100 text-left text-sm font-medium">
        <th class="px-4 py-2">ID</th>
        <th class="px-4 py-2">First Name</th>
        <th class="px-4 py-2">Last Name</th>
        <th class="px-4 py-2">Phone</th>
        <th class="px-4 py-2">Enabled</th>
      </tr>
      <tr>
        <td th:text="${user.id}" class="px-4 py-2"></td>  
        <td th:text="${user.fname}" class="px-4 py-2"></td>
        <td th:text="${user.lastname}" class="px-4 py-2"></td>
        <td th:text="${user.phone}" class="px-4 py-2"></td>
        <td th:text="${user.enabled)}" class="px-4 py-2"></td>
      </tr>
    </thead>
    <tbody>
      </tbody>
  </table>

</div>

</body>
</html>